@model IEnumerable<ExamenNomina.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

    <h2>Departamentos</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomDepartamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomDepartamento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdDepartamento },new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalles", "Details", new { id=item.IdDepartamento }, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdDepartamento }, new { @class = "btn btn-danger" })
    </tr>
}

</table>
